    h1 {
        color: #EE4036
   }
   .logo {
       width: 100.18px;
   }
   ul {
       list-style: none;
       padding: 0%;
       text-decoration: none;
   }
   a {
       text-decoration: none;
       color: #3D58A6;
   }
   a:hover {
       color: #EE4036;
   }
   section {
       width: 800px;
   }
   footer {
       width: 15px;
   }